.ramp-app {
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
        sans-serif, Apple Color Emoji, Segoe UI Emoji;
    font-size: 16px;
    line-height: 1.5;
    word-wrap: break-word;

    @import 'tailwindcss/base';

    @layer base {
        [type='text'],
        [type='email'],
        [type='url'],
        [type='password'],
        [type='number'],
        [type='date'],
        [type='datetime-local'],
        [type='month'],
        [type='search'],
        [type='tel'],
        [type='time'],
        [type='week'],
        [multiple],
        textarea,
        select {
            font-size: 16px;
        }
    }

    @import 'tailwindcss/components';
    @import 'tailwindcss/utilities';

    @layer utilities {
        @variants container-query {
            .display-none {
                display: none;
            }
        }
    }
}

.ramp-app button:focus {
    outline: 2px solid black;
}

/* Change ag-grid theme default font (Roboto) to match the rest of the page. */
.ramp-app .ag-theme-material * {
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
        sans-serif, Apple Color Emoji, Segoe UI Emoji;
}

/* styling for rectangle when Shift+Left-click+Drag zooming */
.ramp-app .esri-zoom-box__container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.ramp-app .esri-zoom-box__overlay {
    width: 100%;
    height: 100%;
}

.ramp-app .esri-zoom-box__overlay-background {
    fill: rgba(0, 0, 0, 0.1);
}

.ramp-app .esri-zoom-box__outline {
    fill: transparent;
    stroke: #1e90ff;
    stroke-dasharray: 1, 1;
    stroke-width: 2px;
}

.tippy-tooltip.ramp-theme {
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
        sans-serif, Apple Color Emoji, Segoe UI Emoji;
    font-size: 14px;
}

.tippy-tooltip.ramp-theme svg {
    display: inline;
}

@font-face {
    font-family: 'Montserrat';
    src: url('font/Montserrat-Reg-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('font/Montserrat-Sbold-webfont.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

.notification {
    position: absolute;
    height: 100px;
    width: 256px;
    padding: 64px;
    z-index: 50;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    margin-top: 16px;
    border: 2px solid red;
    font-size: x-large;
    background-color: white;
}

.tippy-box[data-theme~='ramp4'] {
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
        sans-serif, Apple Color Emoji, Segoe UI Emoji;
    color: white;
    background: #222;
    opacity: 0.9;
    font-size: 14px;
    padding: 3px 8px;
    border-radius: 5px;
    text-align: center;
}

.tippy-box[data-theme~='ramp4'] svg {
    display: inline;
}

.spinner {
    border: 2px solid rgba(0, 0, 0, 0.158);
    border-top: 2px solid #3f51b5;
    border-right: 2px solid #3f51b5;
    border-radius: 50%;
}
