.ramp-app {
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, Segoe UI,
        Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
    font-size: 16px;
    line-height: 1.5;
    word-wrap: break-word;

    @import 'tailwindcss/base';
    @import 'tailwindcss/components';
    @import 'tailwindcss/utilities';
}

.ramp-app button:focus {
    outline: 2px solid black;
}

/* Change ag-grid theme default font (Roboto) to match the rest of the page. */
.ramp-app .ag-theme-material * {
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, Segoe UI,
        Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
}

/* styling for rectangle when Shift+Left-click+Drag zooming */
.ramp-app .esri-zoom-box__container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.ramp-app .esri-zoom-box__overlay {
    width: 100%;
    height: 100%;
}

.ramp-app .esri-zoom-box__overlay-background {
    fill: rgba(0, 0, 0, 0.1);
}

.ramp-app .esri-zoom-box__outline {
    fill: transparent;
    stroke: #1e90ff;
    stroke-dasharray: 1, 1;
    stroke-width: 2px;
}

/* Keep the name dark-theme since tippy insists on using this theme for prod builds */
.tippy-tooltip.dark-theme {
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, Segoe UI,
        Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
}

@font-face {
    font-family: 'Montserrat';
    src: url('font/Montserrat-Reg-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('font/Montserrat-Sbold-webfont.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

.notification {
    position: absolute;
    height: 100px;
    width: 256px;
    padding: 64px;
    z-index: 50;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    margin-top: 16px;
    border: 2px solid red;
    font-size: x-large;
    background-color: white;
}
