.ramp-app {
    @tailwind base;
    @tailwind components;
    @tailwind utilities;
    @tailwind variants;

    @layer base {
        .ramp-markdown :not(table, td, img) {
            all: revert;
        }
    }

    @layer utilities {
        .display-none {
            display: none;
        }
    }
}

.ramp-app {
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, Segoe UI,
        Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
    font-size: 16px;
    line-height: 1.5;
    word-wrap: break-word;
}

.ramp-app button:focus {
    outline: 2px solid black;
}

/* Change ag-grid theme default font (Roboto) to match the rest of the page. */
.ramp-app .ag-theme-material * {
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, Segoe UI,
        Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
}

/* styling for rectangle when Shift+Left-click+Drag zooming */
.ramp-app .esri-zoom-box__container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.ramp-app .esri-zoom-box__overlay {
    width: 100%;
    height: 100%;
}

.ramp-app .esri-zoom-box__overlay-background {
    fill: rgba(0, 0, 0, 0.1);
}

.ramp-app .esri-zoom-box__outline {
    fill: transparent;
    stroke: #1e90ff;
    stroke-dasharray: 1, 1;
    stroke-width: 2px;
}

.ramp-markdown td {
    border-width: 1px;
    padding: 5px;
}

.ramp-markdown img {
    display: inline;
}

.ramp-markdown p {
    margin-bottom: 10px;
}

.tippy-tooltip.ramp-theme {
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, Segoe UI,
        Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
    font-size: 14px;
}

.tippy-tooltip.ramp-theme svg {
    display: inline;
}

@font-face {
    font-family: 'Montserrat';
    src: url('font/Montserrat-Reg-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('font/Montserrat-Sbold-webfont.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

.notification {
    position: absolute;
    height: 100px;
    width: 256px;
    padding: 64px;
    z-index: 50;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    margin-top: 16px;
    border: 2px solid red;
    font-size: x-large;
    background-color: white;
}

.tippy-box[data-theme~='ramp4'] {
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, Segoe UI,
        Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
    color: white;
    background: #222;
    opacity: 0.9;
    font-size: 14px;
    padding: 3px 8px;
    border-radius: 5px;
    text-align: center;
}

.tippy-box[data-theme~='ramp4'] svg {
    display: inline;
}

.spinner {
    border: 2px solid rgba(0, 0, 0, 0.158);
    border-top: 2px solid #3f51b5;
    border-right: 2px solid #3f51b5;
    border-radius: 50%;
}

/* I got this loading bar code from http://dev.gojko.net/web/2015/09/19/material-design-progress-pure-css.html */
/* Feel free to replace it with our own at some point */
.progress-line,
.progress-line:before {
    height: 3px;
    width: 100%;
    margin: 0;
}
.progress-line {
    background-color: #b3d4fc;
    display: -webkit-flex;
    display: flex;
}
.progress-line:before {
    background-color: #3f51b5;
    content: '';
    -webkit-animation: running-progress 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
    animation: running-progress 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}
@-webkit-keyframes running-progress {
    0% {
        margin-left: 0px;
        margin-right: 100%;
    }
    50% {
        margin-left: 25%;
        margin-right: 0%;
    }
    100% {
        margin-left: 100%;
        margin-right: 0;
    }
}
@keyframes running-progress {
    0% {
        margin-left: 0px;
        margin-right: 100%;
    }
    50% {
        margin-left: 25%;
        margin-right: 0%;
    }
    100% {
        margin-left: 100%;
        margin-right: 0;
    }
}
