.ramp-styles {
    @tailwind base;
    @tailwind components;
    @tailwind utilities;
    @tailwind variants;

    @layer base {
        .ramp-markdown :not(table, td, img) {
            all: revert;
        }

        [type='text'],
        [type='email'],
        [type='url'],
        [type='password'],
        [type='number'],
        [type='date'],
        [type='datetime-local'],
        [type='month'],
        [type='search'],
        [type='tel'],
        [type='time'],
        [type='week'],
        [multiple],
        textarea,
        select {
            font-size: 16px;
            line-height: 24px;
            padding-top: 8px;
            padding-right: 12px;
            padding-bottom: 8px;
            padding-left: 12px;
            font-weight: 400;
        }

        [type='checkbox'],
        [type='radio'] {
            height: 16px;
            width: 16px;
        }
    }

    @layer utilities {
        .display-none {
            display: none;
        }
    }
}

.ramp-styles {
    font-family:
        'Montserrat',
        -apple-system,
        BlinkMacSystemFont,
        Segoe UI,
        Helvetica,
        Arial,
        sans-serif,
        Apple Color Emoji,
        Segoe UI Emoji;
    font-size: 16px;
    line-height: 1.5;
    word-wrap: break-word;
}

.ramp-styles button:focus {
    outline: 2px solid black;
}

/* Change ag-grid theme default font (Roboto) to match the rest of the page. */
.ramp-styles .ag-theme-material * {
    font-family:
        'Montserrat',
        -apple-system,
        BlinkMacSystemFont,
        Segoe UI,
        Helvetica,
        Arial,
        sans-serif,
        Apple Color Emoji,
        Segoe UI Emoji;
}

.grid-icons {
    font-family: 'Roboto' !important;
}

/* styling for rectangle when Shift+Left-click+Drag zooming */
.ramp-styles .esri-zoom-box__container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.ramp-styles .esri-zoom-box__overlay {
    width: 100%;
    height: 100%;
}

.ramp-styles .esri-zoom-box__overlay-background {
    fill: rgba(0, 0, 0, 0.1);
}

.ramp-styles .esri-zoom-box__outline {
    fill: transparent;
    stroke: #1e90ff;
    stroke-dasharray: 1, 1;
    stroke-width: 2px;
}

.ramp-markdown td {
    border-width: 1px;
    padding: 5px;
}

.ramp-markdown img {
    display: inline;
}

.ramp-markdown p {
    margin-bottom: 10px;
}

.tippy-tooltip.ramp-theme {
    font-family:
        'Montserrat',
        -apple-system,
        BlinkMacSystemFont,
        Segoe UI,
        Helvetica,
        Arial,
        sans-serif,
        Apple Color Emoji,
        Segoe UI Emoji;
    font-size: 14px;
}

.tippy-tooltip.ramp-theme svg {
    display: inline;
}

@font-face {
    font-family: 'Montserrat';
    src: url('font/Montserrat-Reg-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('font/Montserrat-Sbold-webfont.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

.notification {
    position: absolute;
    height: 100px;
    width: 256px;
    padding: 64px;
    z-index: 50;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    margin-top: 16px;
    border: 2px solid red;
    font-size: x-large;
    background-color: white;
}

.tippy-box[data-theme~='ramp4'] {
    font-family:
        'Montserrat',
        -apple-system,
        BlinkMacSystemFont,
        Segoe UI,
        Helvetica,
        Arial,
        sans-serif,
        Apple Color Emoji,
        Segoe UI Emoji;
    color: white;
    background: #222;
    opacity: 0.9;
    font-size: 14px;
    padding: 3px 8px;
    border-radius: 5px;
    text-align: center;
}

.tippy-box[data-theme~='ramp4'] svg {
    display: inline;
}

.tippy-box[data-theme~='ramp4'] a {
    text-decoration: underline;
}

.spinner {
    border: 2px solid rgba(0, 0, 0, 0.158);
    border-top: 2px solid #3f51b5;
    border-right: 2px solid #3f51b5;
    border-radius: 50%;
}

/* I got this loading bar code from http://dev.gojko.net/web/2015/09/19/material-design-progress-pure-css.html */
/* Feel free to replace it with our own at some point */
.progress-line,
.progress-line:before {
    height: 3px;
    width: 100%;
    margin: 0;
}
.progress-line {
    background-color: #b3d4fc;
    display: -webkit-flex;
    display: flex;
}
.progress-line:before {
    background-color: #3f51b5;
    content: '';
    -webkit-animation: running-progress 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
    animation: running-progress 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}
@-webkit-keyframes running-progress {
    0% {
        margin-left: 0px;
        margin-right: 100%;
    }
    50% {
        margin-left: 25%;
        margin-right: 0%;
    }
    100% {
        margin-left: 100%;
        margin-right: 0;
    }
}
@keyframes running-progress {
    0% {
        margin-left: 0px;
        margin-right: 100%;
    }
    50% {
        margin-left: 25%;
        margin-right: 0%;
    }
    100% {
        margin-left: 100%;
        margin-right: 0;
    }
}
