[focus-list]:focus [focus-item].focused.area-of-interest-item-button[data-v-7082d36c]{border:solid black 2px}[focus-list]:focus [focus-item].focused.area-of-interest-item-button .area-of-interest-item-image[data-v-7082d36c]{opacity:.5}
